<body>
  <!-- <div> -->


<!-- Warming Up -->
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>

<!--Video Section-->
<section class="content-section video-section">
  <div class="pattern-overlay">
  <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=h-iRUPZZ9ZA',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        <h1>Peer To Beer</h1>  
        <h3>Be the Christopher Columbus of Alcohol Conquest</h3>
     </div>
      </div>
    </div>
  </div>

  


</section>


<div class="dark-body">
  <div class="container">
    <h2>Save Your Locations!</h2>
  </div>

  <div class="row">
    <div class="col-md-12">

        <div class="col-md-4 col-sm-12">
          <div class="discover-item" style="background-image: url(http://res.cloudinary.com/div0moogk/image/upload/v1450156699/Screen_Shot_2015-12-15_at_4.02.48_pm_ul7kuk.png)">
            <h2>The Enchanted Forest</h2>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="discover-item" style="background-image: url(http://res.cloudinary.com/div0moogk/image/upload/v1450156698/Screen_Shot_2015-12-15_at_4.06.05_pm_dad3ss.png)">
            <h2>Emerald City</h2>
          </div>
        </div>


        <div class="col-md-4 col-sm-6">
          <div class="discover-item" style="background-image: url(http://res.cloudinary.com/div0moogk/image/upload/v1450153937/Screen_Shot_2015-12-14_at_8.12.25_pm_awupdq.png)">
            <h2>China Town</h2>
        </div>
      </div>
    </div>
  </div>
       <div class="row">
    <div class="col-md-12">
      <p></p>
    </div>
  </div>
      <div class="row">
    <div class="col-md-12">

        <div class="col-md-4 col-sm-12">
          <div class="discover-item" style="background-image: url(http://res.cloudinary.com/div0moogk/image/upload/v1450156694/Screen_Shot_2015-12-15_at_3.57.24_pm_e9704z.png)">
            <h2>The Dark Forest</h2>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="discover-item" style="background-image: url(http://res.cloudinary.com/div0moogk/image/upload/v1450153938/Screen_Shot_2015-12-14_at_7.51.44_pm_ymaapa.png)">
            <h2>The Land of Oz</h2>
          </div>
        </div>


        <div class="col-md-4 col-sm-6">
          <div class="discover-item" style="background-image: url(http://res.cloudinary.com/div0moogk/image/upload/v1450156946/Screen_Shot_2015-12-15_at_4.07.34_pm_hk2d0m.png)">
            <h2>The Poppy Fields</h2>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
<!-- </div>
</div> -->


</body>
</html>

</body>