// Place all the styles related to the Patrons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field.form-group {
  .form-control{
    display: inline-block;
  }
}

#new_patron {
  width: 450px;
  margin: auto;
}

.new-patron {
  text-align: center;
  padding-bottom: 20px;
}